<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8 mb-3">
      <div class="card shadow-lg w-100">
        <div class="card-header d-flex">
          <h1>Welcome back, <%= @user.name %></h1>
          <%= cl_image_tag current_user.photo.key, class: "avatar my-2 mx-3" %>
        </div>
        <div class="card-body">
          <h2 class="text-success">Your Donations</h2>
          <canvas id="myChart" class=""></canvas>
        </div>
        <%= link_to 'Want to donate more? See all charities!', charities_path, class: "btn btn-success btn-block" %>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="card shadow-lg w-100">
        <div class="card-body">
          <h2 class="text-success">Charities Donated to</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Charity</th>
                <th>Cause</th>
              </tr>
            </thead>
            <tbody>
              <% @user.donations.each do |donation| %>
              <tr>
                <td><%= donation.charity.name %></td>
                <td><%= donation.charity.cause.name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card shadow-lg w-100 mt-3">
        <div class="card-body">
          <h2 class="text-success">Your charities</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Charity</th>
                <th>Cause</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user.charities.each do |charity|%>
              <tr >
                <td style="vertical-align: middle;"><%= link_to charity.name, charity_path(charity), class:"text-success", style:"text-decoration: none;" %></td>
                <td style="vertical-align: middle;"><%= charity.cause.name %></td>
                <td><%= link_to 'Edit', edit_charity_path(charity), class: "text-decoration-none btn btn-success rounded" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  setTimeout(() => {

    function getMonthName(month) {
      const monthNames = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
    ];

    return monthNames[month - 1];
  }

  let list_of_dates = []
  let list_of_amounts = []

  <% @user.donations.each do |donation| %>
    list_of_amounts.push(<%= donation.donations_amount %>)
    list_of_dates.push(getMonthName(<%= donation.started.month %>))
  <% end %>

  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: list_of_dates,
      datasets: [{
        label: "donations over time",
        data: list_of_amounts,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    },
    options: {}
  });
}, 777);
</script>
