
    </div>
    <div class="col-md-4">
      <div class="card shadow-lg w-100">
        <div class="card-body">
          <h2 class="text-success">Charities Donated to</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Charity</th>
                <th>Cause</th>
              </tr>
            </thead>
            <tbody>
              <% @user.donations.each do |donation| %>
              <tr>
                <td><%= donation.charity.name %></td>
                <td><%= donation.charity.cause.name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center my-3">
    <%= link_to 'Charities list', charities_path, class: "btn btn-success" %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  function getMonthName(month) {
    const monthNames = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December",
    ];

    return monthNames[month - 1];
  }

  let list_of_dates = []
  let list_of_amounts = []

  <% @user.donations.each do |donation| %>
    list_of_amounts.push(<%= donation.donations_amount %>)
    list_of_dates.push(getMonthName(<%= donation.started.month %>))
  <% end %>

  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: list_of_dates,
      datasets: [{
        label: "donations over time",
        data: list_of_amounts,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    },
    options: {}
  });
</script>
