<!-- app/views/charities/edit.html.erb -->

<h1>Edit <%= @charity.name %></h1>

<%= form_with model: @charity do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :total_donations %>
    <%= form.number_field :total_donations %>
    <%= form.label :address %>
    <%= form.text_field :address %>
    <%= form.label :accepting %>
    <%= form.select :accepting, [['Yes', true], ['No', false]], selected: @charity.accepting %>
    <%= form.label :cause %>
    <%= form.text_field :cause %>
    <%= form.submit %>
<% end %>

<%= link_to "Cancel", charity_path(@charity) %> |
<%= link_to "Back to Charities", charities_path %>
