<%# Charities grid  %>
<div class="container">
  <%# categories search  %>
  <div class="search-category mb-4">
    <%= form_tag charities_path, method: :get, class: 'd-flex' do %>
      <%= select_tag :cause, options_for_select([["All", ""], *Cause.all.map{ |c| [c.name, c.id] }]), prompt: "Select a cause", class: "form-select me-3" %>
      <%= submit_tag "Search", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<%# Charities grid  %>
<div class="cards container my-4">
  <% @charities.each do |charity| %>
    <a href="<%= charity_path(charity) %>">
      <div class="index-card">
        <%= image_tag charity.image, alt: "Description of charity", class:"carity-img" %>
        <div class="content">
          <h2 class="text-center"><strong><%= charity.name %></strong></h2>
          <h5 class="text-center"><i><%= charity.total_donations %>$ total donations</i></h5>
          <p class="text-center"><%= charity.cause.name %></p>
        </div>
      </div>
    </a>
  <% end %>
</div>
