<div class="container">
  <div class="row">
    <% @charities.each do |charity| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><%= charity.name %></h1>
            <p class="card-text"><%= charity.total_donations %> total donations</p>
            <p class="card-text"><%= charity.address %></p>
            <p class="card-text"><%= charity.cause.name %></p>
            <%=link_to "go to charity", charity_path(charity) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
