<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ">DonateNow</a>
    <%= form_tag charities_path, method: :get, class: 'd-flex' do %>
      <%= select_tag :cause, options_for_select([["All", ""], *Cause.all.map{ |c| [c.name, c.id] }]), prompt: "Select a cause", class: "form-select me-3" %>
      <%= submit_tag "Search", class: "btn btn-success" %>
    <% end %>
    <%= link_to 'Log in', new_user_session_path , class: 'btn btn-outline-light mx-3 log-in-btn' %>
    <%= link_to 'Sign up', new_user_registration_path , class: 'btn btn-outline-light mx-3 log-in-btn' %>
  </div>
</nav>


<%# Charities grid  %>
<div class="container">
  <div class="row justify-content-center text-center">
    <% @charities.each do |charity| %>
      <div class="col-xl-4 col-sm-6 mb-3">
        <div class="card" style="width: 18rem;">
          <%= image_tag charity.image, alt: "text", class:"card-img-top", style: "height: 18rem;" %>
          <div class="card-body">
            <h5 class="card-title"><%= charity.name %></h5>
            <p class="card-text"><%= charity.total_donations %> total donations</p>
            <p class="card-text"><%= charity.cause.name %></p>
            <%= link_to "Go to charity", charity_path(charity), class: "btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
