<%# Charities grid  %>
<div class="container">
  <%# categories search  %>
  <div class="search-category mb-4">
    <%= form_tag charities_path, method: :get, class: 'd-flex' do %>
      <%= select_tag :cause, options_for_select([["All", ""], *Cause.all.map{ |c| [c.name, c.id] }]), prompt: "Select a cause", class: "form-select me-3" %>
      <%= submit_tag "Search", class: "btn btn-success" %>
    <% end %>
  </div>
  <%# categories search  %>

  <div class="row justify-content-center text-center">
    <% @charities.each do |charity| %>
      <div class="col-xl-4 col-sm-6 mb-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= charity.name %></h5>
            <p class="card-text"><%= charity.total_donations %> total donations</p>
            <p class="card-text"><%= charity.cause.name %></p>
            <%= link_to "Go to charity", charity_path(charity), class: "btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# Charities grid  %>
