<div class="container d-flex justify-content-center mt-5">
  <div class="card w-75 shadow-lg">
    <div class="card-body">
      <%= form_with model: @charity, url: charities_path do |form| %>
        <% if @charity.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@charity.errors.count, "error") %> prohibited this charity from being saved:</h2>
            <ul>
            <% @charity.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :address %>
          <%= form.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :accepting %>
          <%= form.select :accepting, [['Yes', true], ['No', false]], {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :cause %>
          <%= form.collection_select :cause_id, Cause.all, :id, :name, { prompt: true }, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.file_field :photo, as: :file %>
        </div>

        <div class="form-actions text-center">
          <%= form.submit "Create Charity", class: "btn btn-success mt-3" %>
          <%= link_to "Back to Charities", charities_path, class: "btn btn-secondary mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
