<%# --> Navbar for Desktop %>
<div class="navbar navbar-lg navbar-expand-sm navbar-light navbar-lewagon <%= "navbar-lewagon-transparent" if action_name == "home" %>">
  <div class="container-fluid">
<%# Logo back to landing page %>
    <%= link_to "/", class: "navbar-brand text-white" do %>
      <strong class="navbar-logo">GiveHope</strong>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
<%# If user is signed in he gets my profile and create charity option %>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
<%# Profile image if user has on / if not he gets a default image --> on click the user get options %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle my-2 mx-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag 'default_profile.jpeg', class: "avatar dropdown-toggle my-2 mx-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Create new charity", new_charity_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
<%# If the user is not loged in he gets the login/signup options %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-outline-light mx-3 log-in-btn my-1" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn btn-outline-light mx-3 log-in-btn my-1" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<%# --> Navbar for Mobile Devices %>
<nav class="navbar navbar-sm fixed-bottom">
  <% if user_signed_in? %>
<%# Home icon below to go back to landign page %>
    <ul class="nav d-flex justify-content-evenly w-100 align-items-center">
      <li class="nav-item">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fa fa-home"></i>
        <% end %>
      </li>
<%# Dollar icon below for charity/index page %>
      <li class="nav-item">
        <%= link_to charities_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-dollar-sign"></i>
        <% end %>
      </li>
<%# Plus icon below (only visible if you are loged in as a company) %>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to new_charity_path, class: "navbar-brand" do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </li>
      <% end %>
<%# Gear icon with different options for hunter and company below %>
      <li class="nav-item dropup">
        <a class="nav-link dropdown-toggle p-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
        </a>
        <ul class="dropdown-menu">
          <% if current_user %>
            <li><%= link_to "Profile", profile_path, class: "dropdown-item" %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item" %></li>
          <% end %>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "All charities", charities_path, class: "dropdown-item"  %></li>
        </ul>
      </li>
<%# Logout icon below %>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-brand" do %>
          <i class="fa-solid fa-lock-open"></i>
        <% end %>
      </li>
    </ul>
<%# Default icons if nobody is loged in below %>
  <% else %>
    <ul class="nav d-flex justify-content-evenly w-100">
      <li class="nav-item">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fa fa-home"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to charities_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-dollar-sign"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-lock"></i>
        <% end %>
      </li>
    </ul>
  <% end %>

</nav>
